
# Core Scientific Libraries
numpy==1.26.4
pandas==2.2.2

# Bioinformatics
biopython==1.83

# Visualization
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.22.0

# Optional: Jupyter for Notebooks
jupyterlab==4.2.1

# Specify minimum required Python version
python_version >= "3.8"

